openapi: 3.0.3
info:
  title: Smallest AI API
  version: 1.0.0
  description: |
    Comprehensive Smallest AI API documentation with GET, POST, PUT, DELETE endpoints for all main resources.

servers:
  - url: https://api.smallest.ai
    description: Production Server

tags:
  - name: User
    description: Retrieve and manage user-related data.
  - name: Organization
    description: Manage organization data.
  - name: Agent Templates
    description: Templates used to create agents.
  - name: Agents
    description: Agent-related endpoints.
  - name: Logs
    description: Access logs and audit trails.
  - name: Calls
    description: Call-related data and transcripts.
  - name: Knowledge Base
    description: Upload and retrieve documents.

paths:

  ### User Endpoints ###
  /user/get-user-details:
    get:
      tags:
        - User
      summary: Retrieve user info
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                  name:
                    type: string
                  email:
                    type: string

  /user/create-user:
    post:
      tags:
        - User
      summary: Create a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
              properties:
                name:
                  type: string
                email:
                  type: string
      responses:
        '201':
          description: User created successfully

  /user/update-user:
    put:
      tags:
        - User
      summary: Update user details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user_id
              properties:
                user_id:
                  type: string
                name:
                  type: string
                email:
                  type: string
      responses:
        '200':
          description: User updated successfully

  /user/delete-user:
    delete:
      tags:
        - User
      summary: Delete a user
      parameters:
        - name: user_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: User deleted successfully

  ### Organization Endpoints ###
  /organization/get-org-details:
    get:
      tags:
        - Organization
      summary: Retrieve organization details
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Organization details

  /organization/create-org:
    post:
      tags:
        - Organization
      summary: Create a new organization
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                address:
                  type: string
      responses:
        '201':
          description: Organization created successfully

  /organization/update-org:
    put:
      tags:
        - Organization
      summary: Update organization details
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - org_id
              properties:
                org_id:
                  type: string
                name:
                  type: string
                address:
                  type: string
      responses:
        '200':
          description: Organization updated successfully

  /organization/delete-org:
    delete:
      tags:
        - Organization
      summary: Delete an organization
      parameters:
        - name: org_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Organization deleted successfully

  ### Agent Templates Endpoints ###
  /agent-templates/list:
    get:
      tags:
        - Agent Templates
      summary: List agent templates
      responses:
        '200':
          description: List of agent templates

  /agent-templates/create:
    post:
      tags:
        - Agent Templates
      summary: Create an agent template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Agent template created

  /agent-templates/update:
    put:
      tags:
        - Agent Templates
      summary: Update an agent template
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - template_id
              properties:
                template_id:
                  type: string
                name:
                  type: string
                description:
                  type: string
      responses:
        '200':
          description: Agent template updated

  /agent-templates/delete:
    delete:
      tags:
        - Agent Templates
      summary: Delete an agent template
      parameters:
        - name: template_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Agent template deleted

  ### Agents Endpoints ###
  /agents/get-agent:
    get:
      tags:
        - Agents
      summary: Retrieve agent details
      parameters:
        - name: agent_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agent details

  /agents/create-agent:
    post:
      tags:
        - Agents
      summary: Create an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                template_id:
                  type: string
      responses:
        '201':
          description: Agent created

  /agents/update-agent:
    put:
      tags:
        - Agents
      summary: Update an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
              properties:
                agent_id:
                  type: string
                name:
                  type: string
                template_id:
                  type: string
      responses:
        '200':
          description: Agent updated

  /agents/delete-agent:
    delete:
      tags:
        - Agents
      summary: Delete an agent
      parameters:
        - name: agent_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Agent deleted

  ### Logs Endpoints ###
  /logs/fetch:
    get:
      tags:
        - Logs
      summary: Fetch logs
      parameters:
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Log data

  /logs/delete:
    delete:
      tags:
        - Logs
      summary: Delete logs
      parameters:
        - name: log_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Log deleted

  ### Calls Endpoints ###
  /calls/get-call-info:
    get:
      tags:
        - Calls
      summary: Retrieve call information
      parameters:
        - name: call_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Call info

  /calls/create-call:
    post:
      tags:
        - Calls
      summary: Create a call record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - caller_id
                - callee_id
                - timestamp
              properties:
                caller_id:
                  type: string
                callee_id:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Call created

  /calls/update-call:
    put:
      tags:
        - Calls
      summary: Update call info
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - call_id
              properties:
                call_id:
                  type: string
                notes:
                  type: string
      responses:
        '200':
          description: Call updated

  /calls/delete-call:
    delete:
      tags:
        - Calls
      summary: Delete a call record
      parameters:
        - name: call_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Call deleted

  ### Knowledge Base Endpoints ###
  /knowledge-base/search:
    get:
      tags:
        - Knowledge Base
      summary: Search the knowledge base
      parameters:
        - name: query
          in: query
          required:
