openapi: 3.0.3
info:
  title: Smallest AI API
  version: 1.0.0
  description: >
    Comprehensive Smallest AI API documentation with GET, POST, PUT, DELETE endpoints
    for all main resources with detailed tag descriptions.

servers:
  - url: https://api.smallest.ai
    description: Production Server

tags:
  - name: User
    description: |
      Retrieve and manage user-related data.
      Perform CRUD operations on user profiles.
  - name: Organization
    description: |
      Manage organization details and settings.
      Create, update, and delete organizations.
  - name: Agent Templates
    description: |
      Templates used for creating agents.
      Manage template lifecycle and metadata.
  - name: Agents
    description: |
      Manage agents created from templates.
      Retrieve, update, and delete agent data.
  - name: Logs
    description: |
      Access system logs and audit trails.
      Filter and manage log entries effectively.
  - name: Calls
    description: |
      Call records, transcripts, and metadata.
      Create, update, and manage call information.
  - name: Knowledge Base
    description: |
      Upload and retrieve documents and files.
      Search and maintain the knowledge repository.

paths:

  # User endpoints omitted for brevity, assume same as before...

  # Agent Templates endpoints omitted for brevity, assume same as before...

  ### Agents Endpoints ###
  /agents/get-agent:
    get:
      tags:
        - Agents
      summary: Retrieve agent details
      parameters:
        - name: agent_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Agent details

  /agents/create-agent:
    post:
      tags:
        - Agents
      summary: Create an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - template_id
              properties:
                name:
                  type: string
                template_id:
                  type: string
      responses:
        '201':
          description: Agent created

  /agents/update-agent:
    put:
      tags:
        - Agents
      summary: Update an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - agent_id
              properties:
                agent_id:
                  type: string
                name:
                  type: string
                template_id:
                  type: string
      responses:
        '200':
          description: Agent updated

  /agents/delete-agent:
    delete:
      tags:
        - Agents
      summary: Delete an agent
      parameters:
        - name: agent_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Agent deleted

  ### Logs Endpoints ###
  /logs/fetch:
    get:
      tags:
        - Logs
      summary: Fetch logs
      parameters:
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Log data

  /logs/delete:
    delete:
      tags:
        - Logs
      summary: Delete logs
      parameters:
        - name: log_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Log deleted

  ### Calls Endpoints ###
  /calls/get-call-info:
    get:
      tags:
        - Calls
      summary: Retrieve call information
      parameters:
        - name: call_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Call info

  /calls/create-call:
    post:
      tags:
        - Calls
      summary: Create a call record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - caller_id
                - callee_id
                - timestamp
              properties:
                caller_id:
                  type: string
                callee_id:
                  type: string
                timestamp:
                  type: string
                  format: date-time
      responses:
        '201':
          description: Call created

  /calls/update-call:
    put:
      tags:
        - Calls
      summary: Update call info
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - call_id
              properties:
                call_id:
                  type: string
                notes:
                  type: string
      responses:
        '200':
          description: Call updated

  /calls/delete-call:
    delete:
      tags:
        - Calls
      summary: Delete a call record
      parameters:
        - name: call_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Call deleted

  ### Knowledge Base Endpoints ###
  /knowledge-base/search:
    get:
      tags:
        - Knowledge Base
      summary: Search the knowledge base
      parameters:
        - name: query
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Search results

  /knowledge-base/upload:
    post:
      tags:
        - Knowledge Base
      summary: Upload a document
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: Document uploaded

  /knowledge-base/delete:
    delete:
      tags:
        - Knowledge Base
      summary: Delete a document
      parameters:
        - name: document_id
          in: query
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Document deleted
